.section {
  position:relative;
  z-index:1;
  height:700px;
  width:100%;
  background-attachment:fixed;    /* this keeps the background in place */
  background-size:100% 100%;
  background-repeat:no-repeat;
}

.content {
  padding: 10px;
  position:relative;
  z-index:2;
  background-color:#fff;
  height:50%;    /* this height difference allows the bg to show through */
}

.content#c1{
  height: 700px;
  background: blue;
  color: red;
}

.content#c2 {
  margin-top: -300px;
  height: 150px;
  background: #101D40;
  color: white;
  opacity: .95;
  text-align: center;
  @media (max-width: 600px) {
    background: red;
  }
}

#c2 .header, #c3 .title {
  font-size: 30pt;
  font-weight: bold;
  margin-bottom: 8pt;
}

.content#c3{
  height: 500px;
  background: lightgrey;
  text-align: center;
}

#c3 .title{
  margin: -150px -10px 20px -10px;
  height: 120px;
  margin-bottom: 8pt;
}

.content#c5{
  text-align: center;
  height:1430px;
  background: whitesmoke;
}

#c5 .title{
  margin: -150px -10px 20px -10px;
  height: 120px;
}

.section#s1 {
  background-image: url("assets/backdrops/sykline_praytino.jpg");
  height: 850px;
  background-size: cover;
  background-position: center;
}

.section#s3 {
  background-image: url("assets/backdrops/office_korea_net.jpg");
  height: 640px;
  background-size: cover;
  background-position: center;
}
.section#s4 {
  background-image: url("assets/backdrops/sykline_danielle_scott.jpg");
  height: 630px;
  background-size: cover;
  background-position: center;
}
.section#s5 {
  height: 730px;
}


/* # # # # # Media Queries @ 1173px # # # # # */

@media (max-width: 1173px) {
  #s3{
    height: 700px;
  }
  .content#c3{
    height: 740px;
  }
  .content#c5{
    height: 1500px;
  }
  .section#s5 {
    height: 750px;
  }
}




/* # # # # # Media Queries @ 1053px # # # # # */

@media (max-width: 1053px) {
  .content#c5{
    height: 2450px;
  }
  .section#s5 {
    height: 1700px;
  }
}

/* # # # # # Media Queries @ 907px # # # # # */

@media (max-width: 907px) {
  #s3{
    height: 1040px;
  }
  .content#c3{
    height: 1080px;
  }
  .content#c5{
    height: 2070px;
  }
  .section#s5 {
    height: 1320px;
  }
}


/* # # # # # Media Queries @ 753px # # # # # */

@media (max-width: 753px) {
  .content#c2{
    height: 200px;
  }
  .section#s4 {
    background-position: 25% 75%;
  }
}


/* # # # # # Media Queries @ 667px # # # # # */

@media (max-width: 667px) {
  .content#c2{
    height: 250px;
  }
  .content#c3#s3{
    height: 1140px;
  }
  .content#c3{
    height: 1180px;
  }
  #c3 .title, #c5 .title {
    height: 190px;
    margin-top: -220px;
  }
  .content#c5{
    height: 4700px;
  }
  .section#s5 {
    height: 4000px;
  }
}


/* # # # # # Media Queries @ 460px # # # # # */

@media (max-width: 460px) {
  .content#c2{
    height: 300px;
  }
  .content#c5{
    height: 4300px;
  }
  .section#s5 {
    height: 3620px;
  }
}
