@import '_reset.css';
@import '_panels.css';

body{
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #555;
}

a{
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid whitesmoke;
  transition: border-bottom .25s ease;
}

a:hover{
  border-bottom: 1px solid teal;
}

.nav{
  background: white;
  border-bottom: 1px solid lightgrey;
  position: fixed;
  width: 100%;
  text-align: left;
  z-index: 100;
  padding: 10px;
}

.nav a, .info-tile a{
  transition: border-bottom .25s ease;
  border-bottom: 1px solid whitesmoke;
  font-size: 15pt;
  text-decoration: none;
  margin-left: 25px;
  vertical-align:60%;
  color: #555;
}

.title{
  color: white;
  background: teal;
  border: 10px solid teal;
  margin: 40px -10px -10px -10px;
  opacity: .95;
  font-size: 30pt;
  font-weight: bold;
}

.title span, .header span{
  font-size: 12pt;
  font-weight: 300;
}

.thumbnail{
  width: 320px;
  height: 320px;
  display: inline-block;
  border: 1px solid lightgrey;
  margin: 10px;
  overflow: hidden;
  background: white;
}

.thumbnail img{
  width: 320px;
}


.info-tile{
  display: inline-block;
  height: 400px;
  width: 200px;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 20px 10px 10px 10px;
  overflow: hidden;
  background: white;
}

.info-tile .header{
  font-weight: 600;
  font-size: 12pt;
  margin-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  transition: border-bottom .25s ease;
}

.info-tile .header:hover, .nav a:hover {
  border-bottom: 1px solid teal;
}

.info-tile .header:hover i, .nav i:hover{
  color: teal;
}

.nav a i, .thumbnail a i{
  transition: color .25s ease;
  margin: 7px 0 20px 0;
  text-decoration: none;
}

.nav a i{
  border-bottom: 5px solid white;
}

.button{
  display: inline-block;
  width: 100%;
  margin: 8px -2px 0 -2px;
  background: #101D40;
  opacity: .95;
  color: white;
}

.line{
  border-bottom: 1px solid white;
  transition: .25s ease;
}

.line:hover{
  border-bottom: 1px solid teal;
  transition: .25s ease;
}

.thumbnail a i{
  transition: .25s ease;
  padding: 5px 10px;
  font-size: 15pt;
  line-height: 70%;
}

.thumbnail a i:hover{
  font-size: 15pt;
  color: teal;
  text-decoration: none;
}

.header i{
  font-size: 48pt;
}

.footer{
  background: white;
  border-top: 1px solid teal;
  text-align: left;
  position: relative;
  z-index: 50;
  top: 700;
  padding: 10px;
}

em{
  font-style: italic;
}

.pull-right{
  display: inline;
  float: right;
  margin: 22px 25px 0 0;
}
